.text-center{
    text-align:center;
}
.bg-red{
    background: red;
}
.mx-auto{
    margin:auto;
}

.flex{
display:flex;
/* background: rgb(0, 255, 251); */
}
.flex-col{
    flex-direction: column;

}
.item-center{
    align-items:center;

}